<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.order.dao.AddressDao">

    <!-- 查询用户的默认地址 -->
    <select id="getDefaultAddress" resultType="address">
        select * from address where user_id = #{userId} and is_default = 1
    </select>
</mapper>